name: permission_flow
description: A unified permission request flow for Flutter on Android and iOS.
version: 1.0.0

homepage: https://github.com/TU_USUARIO/permission_flow
repository: https://github.com/TU_USUARIO/permission_flow
issue_tracker: https://github.com/TU_USUARIO/permission_flow/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  permission_handler: ^12.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
